<h3>Posts:</h3>
<br />
<% @post_list.each do |post| %>
	<p style="font-size: 85%; color: #759"><%= post['username'] %></p>
	<p><%= post['details'] %></p>
	<br />
	<a href="post-<%=post['id']%>">Comments</a>
	<br />
	<p style="font-size: 80%" align="right"> Added at <%= post['created_date'] %></p>

	<hr />
<% end %>