<h2>New post</h2>
<br />
	<form action="/new" method="post" role="form">
	<textarea name="content" class="form-control" rows="7" placeholder="Write post text here"></textarea>
	<br />
	<button type="submit" class="btn btn-success">Submit</button>
</form>